<div class="form-group my-3">
    <button type="button" class="btn btn-lg btn-orange mx-2" id="wake-button">
        Wake
    </button>
    <button type="button" class="btn btn-lg btn-purple mx-2" id="sleep-button">
        Sleep
    </button>
</div>
