<div class="form-group mt-4">
    <form action="{{default_destination}}">
        <input
            type="submit"
            class="btn btn-lg btn-primary"
            value="Go to Host"
        />
    </form>
</div>
