<div class="form-group mt-6">
    <div class="d-inline-block">
        <h5>Status:</h5>
    </div>
    <div class="d-inline-block ml-2">
        <div id="status-indicator" class="badge">...</div>
    </div>
</div>
